<header>
    <nav>
        <div class="logo-container">
            <img class="logo" src="/img/funda-Blue.svg" alt="navigation-logo">
        </div>
        <input type="checkbox" id="check">
        <label for="check" class="hamburger-btn">
            <box-icon name='menu' color='#ffffff' size="lg"></box-icon>
        </label>
        <ul class="nav-list">
            <li><a class="active" href="#">Kopen</a></li>
            <li><a href="#">Huren</a></li>
            <li><a href="#">Verkopen</a></li>
            <li><a href="#">Favorieten</a></li>
        </ul>
    </nav>
</header>
