<header>
    <nav>
        <figure class="logo-container">
            <img class="logo" src="https://funda-favorieten.cyclic.app/img/funda-Blue.svg" alt="navigation-logo">
        </figure>
        <input type="checkbox" id="check">
        <label for="check" class="hamburger-btn">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </label>
        <ul class="nav-list">
            <li><a class="active" href="#" role="button">Home</a></li>
            <li><a href="#" role="button">About</a></li>
            <li><a href="#" role="button">Work</a></li>
            <li><a href="#" role="button">Contact</a></li>
        </ul>
    </nav>
</header>
